header {
  height: 400px;
  margin-top: 120px;
  width: 100%;
  text-align: center;
  background-color: #00238c;
  background-image: url("https://e0.pxfuel.com/wallpapers/933/254/desktop-wallpaper-dark-solid-purple-deep-purple.jpg");
}
  


@media only screen and (min-width: 1024px) {

  header {
    height: 400px;
    margin-top: 200px;
    padding: 2%;
    margin-left: 2%;
    width: 33%;
    text-align: center;
    background-color: #00238c;
    background-image: url("https://e0.pxfuel.com/wallpapers/933/254/desktop-wallpaper-dark-solid-purple-deep-purple.jpg");
  }
  
  
}